<div class="ui equal width grid container floating tab segment" style="margin-top:0; z-index:0" data-tab="knowledge">
  <div class="column">

        <div class="ui basic segment">
          <%= render partial: "subjects/knowledge/objectives" %>
          <% if @subject.all_objectives.count == 0 then %>
			<h2 class="ui message">No objectives for this subject</h2>
			
		  <% end %>
		  <%= show_if_teacher(current_user) do %>
			<%= link_to "Add a topic", new_subject_topic_path(@subject) %>
		<% end %>
      </div>
  </div>
</div>


