<div class="ui container">
<% @question.objectives.each do |obj|  %>
    <div class="ui blue label"><%= obj.name rescue nil %></div>
  <% end %>
<% MainQuestion.all.each do |mq| %>
<div class="ui segment">

  <% mq.questions.each do |q| %>
  <div class="ui">
  <%= q.html.html_safe %>
  <div class="ui label"><%= q.total_marks %></div>
  </div>
  -------
  <% end %>
  <div class="ui secondary segment">
  <% mq.objectives.each do |obj|  %>
    <div class="ui blue label"><%= obj.name rescue nil %></div>
  <% end %>
  </div>
</div>
<% end %>
</div>
