<div class="ui container">
<% MainQuestion.all.each do |mq| %>
<div class="ui segment">
  <% mq.questions.each do |q| %>
  <div class="ui">
  <%= q.html.html_safe %>
  <div class="ui label"><%= q.total_marks %></div>
  </div>
  -------
  <% end %>
  <div class="ui secondary segment">
  <%= mq.objectives.last.name rescue nil %>
  </div>
</div>
<% end %>
</div>