<div class="tab-container tab-left">
    <ul class="nav nav-tabs flat-tabs">
      <li class="active"><a href="#tab3-1" data-toggle="tab">Interim test</a></li>
      <li><a href="#tab3-2" data-toggle="tab"><i class="fa fa-text-height"></i></a></li>
      <li><a href="#tab3-3" data-toggle="tab"><i class="fa fa-camera"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active cont fade in" id="tab3-1">
            <h3 class="hthin">Left Tabs</h3>
            <ul>
                <li>Responsive design (BS3)</li>
                <li>Several UI elements</li>
                <li>Clean design</li>
                <li>Love in every single detail</li>
            </ul>
      </div>
      <div class="tab-pane cont fade" id="tab3-2">
            <h2>Typography</h2>
            <p>This is just an example of content writen by <b>Jeff Hanneman</b>, as you can see it is a clean design with large
      </p></div>
      <div class="tab-pane fade" id="tab3-3">
            <h2 class="hthin">Typography</h2>
            <p>Pellentesque ac quam hendrerit, viverra leo eu, <b>dapibus mi</b>. In at luctus massa. Morbi semper nulla eu velit facilisis pellentesque. Mauris adipiscing turpis in bibendum tempus. <i>Donec viverra</i>, lacus ac mollis rhoncus, libero risus placerat nisi, et viverra justo eros eget dui. Mauris convallis et tellus non <a href="#">placerat</a>.</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce gravida est eros, eget porta leo fringilla et. </p>
        <a href="#">Read more</a>
      </div>
    </div>
</div> 