<div class="ui equal width grid container floating active tab segment" style="margin-top:0; z-index:0" data-tab="application">
    <div class="column">
        <div class="ui divided stackable four column grid">
            <div class="ui twelve wide column">
                <div class="ui basic segment">
                    <%= render partial: "subjects/application/recommendations" %>
                     
                    <%= render partial: "subjects/application/report" %>
                </div>
            </div>
            <div class="four wide column ui horizontal segment overlay">
                <h3 class="ui  dividing header">Navigating</h3>
                <div class="ui fluid secondary pointing vertical menu">
                    <a class="item">
            Recomended 
                        <span class="ui label">2</span>
                    </a>
                    <a class="item">
            F321 
                        <span class="ui label">2</span>
                    </a>
                    <a class="item">
            F322 
                        <span class="ui label">2</span>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </div>
