<div class="ui equal width grid container floating active tab segment" style="margin-top:0; z-index:0" data-tab="application">
    <div class="column">
        <div class="ui divided stackable four column grid">
            <div class="ui sixteen wide column">
                <div class="ui basic segment">
                    <%= render partial: "subjects/application/recommendations" %>
                     
                    <%= render partial: "subjects/application/report" %>
                </div>
            </div>
          </div>
        </div>
      </div>
