<!-- 
<h2 class="ui header">Here's what we'd reccomend you do:</h2>
                    <div class="ui basic segment list">
                        <a class="item" href="#">
                            <i class="help icon"></i>
                            <div class="content">
                                <div class="header">F321, Jan 2012, 1) a) ii)</div>
                                <div class="description">Because you're almost there with [TOPIC.NAME]</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>
                            <div class="content">
                                <div class="header">Module pack test these objectives </div>
                                <div class="description">Because there are holes in your knowledge</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>
                            <div class="content">
                                <div class="header">Module pack test these objectives </div>
                                <div class="description">Because there are holes in your knowledge</div>
                            </div>
                        </a>
                        <a class="item" href="#">
                            <i class="help icon"></i>
                            <div class="content">
                                <div class="header">F321, Jan 2012, 1) a) ii)</div>
                                <div class="description">Because you're almost there with [TOPIC.NAME]</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>
                            <div class="content">
                                <div class="header">Module pack test these objectives </div>
                                <div class="description">Because there are holes in your knowledge</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>
                            <div class="content">
                                <div class="header">Module pack test these objectives </div>
                                <div class="description">Because there are holes in your knowledge</div>
                            </div>
                        </a>
                    </div>
                    <div class="ui divider"></div>
                    !-->