<h2 class="ui header">A breakdown of your learning so far</h2>
                    <div class="ui basic segment">
                        <div class="ui bottom attached segment">
                            <div class="ui top attached label">F321: Atoms, bonds and groups</div><% @subject.topics.each do |topic| %>
                            <h3><%= topic.name %>
                            </h3>
                            <div class="ui accordion">
                                <div class="active title">
                                    <i class="dropdown icon"></i>
                                  Objectives
                
                                </div>
                                <div class="content">
                                    <table class="ui very basic table" style="padding-left:30px">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% topic.objectives.each do |obj| %>
                                            <tr>
                                                <td><%= link_to "#{ obj.name.truncate(50) unless obj == nil }", objective_path(obj) %>
                                                </td>
                                                <td>
                                                    <div class="ui <%= obj.colour(current_user) unless obj == nil %> circular label"><%=  obj.progress(current_user) unless obj == nil %>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </div><% end %>
                        </div>
                    </div>