<div class="nested-fields">
  <div class="field">
    <%= f.text_area :name, placeholder: "Enter your objective here" %>
    <%= f.text_field :harder_difficulty, placeholder: "harder_difficulty" %>
    <%= f.text_field :easier_difficulty, placeholder: "easier_difficulty" %>
    <%= link_to_remove_association "remove objective", f, class: "ui bottom attached red fluid button" %>
    <div class="ui divider"></div>
  </div>
  
</div>
