<h1>Editing topic</h1>

<%= render 'form' %>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>
<%  %>
<%= link_to "test", improvement_path(Improvement.find_by(id: params[:go_back].to_i)) %>