<div class="ui container">
	<div class="ui three top attached steps">
	  <div class="disabled step">
	    <i class="truck icon"></i>
	    <div class="content">
	      <div class="title">Subject</div>
	      <div class="description">Details about this subject</div>
	    </div>
	  </div>
	  <div class="active step">
	    <i class="payment icon"></i>
	    <div class="content">
	      <div class="title">Topic</div>
	      <div class="description">This subjects topics + objectives</div>
	    </div>
	  </div>
	  <div class="step">
	    <i class="info icon"></i>
	    <div class="content">
	      <div class="title">Module pack</div>
	      <div class="description">Create module pack for this subject</div>
	    </div>
	  </div>
	</div>
	<div class="ui attached segment">
	  <h1>New subject</h1>

	<%= render 'form' %>

	</div>
</div>