<div class="ui equal width grid container floating tab segment" style="margin-top:0; z-index:0" data-tab="organization">
  <div class="column">
    <div class="ui divided stackable four column grid">
      <div class="ui twelve wide column">
        <div class="ui basic segment">
          <h2 class="ui header">Resources</h2>
          <iframe src="https://drive.google.com/embeddedfolderview?authuser=0&amp;hl=en&amp;id=0B64rKJfXDVVMaEdTaGx5R2lJNm8#grid" width="100%" height="800" title="Year 12 Chemistry" frameborder="0" class="folder_embed" id="1381701245" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="height:600px"></iframe>


          <div class="ui divider"></div>
          


      </div>
      <div class="four wide column ui horizontal segment">
        <h3 class="ui  dividing header">Navigating</h3>
        <div class="ui fluid secondary pointing vertical menu">
          <a class="item">
            Recomended <span class="ui label">2</span>
          </a>
          <a class="item">
            F321 <span class="ui label">2</span>
          </a>
          <a class="item">
            F322 <span class="ui label">2</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
