<div class="nested-fields">
  <div class="field">
    Keypoint:
    <br/>
    <div class="ui grid">
          <div class="ui fifteen wide column">
            <%= f.text_field :text %>
          </div>
          <div class="ui one wide column">
          <%= link_to_remove_association "<i class='ui remove icon'></i>".html_safe, f, class: "ui red icon button" %>
          </div>
        </div>
    

  </div>
  
</div>