<div class="peer-assessed ui tab" data-tab="peer">
	<select name="skills" class="ui fluid search dropdown">
		<% User.all.where.not(id: current_user.id).each do |user| %>
		<option value="<%= user.id %>"><%= user.username %></option>
		<% end %>
	  </select>
    <% @objective.flashcards.each do |flashcard| %>
    	<%= render partial: "flashcard", :locals => {:flashcard => flashcard } %>
    <% end %>
</div>