<div class="ui yellow dissmissable message">
You can't achieve fluency through self assessment
</div>
<div class="ui flashcard segments">
	<div class="ui inverted dimmer">
	    <div class="content">
	      <div class="center">
	        <h2 class="ui header">Objective tested!</h2>
	        <div class="ui primary button">Test another?</div>
	        <div class="ui button">Go back to topic page</div>
	      </div>
	    </div>
	  </div>
	<div class="ui padded segment">
		
		<div class="ui divided stackable grid">
			<div class="ui ten wide column">
				<div class="ui basic question segment">
					<div class="ui inverted dimmer"></div>
					<h2 class="ui header">What is a compound ion?</h2>
					<div class="ui fluid button circular answer-button">Answer</div>
					<p class="hidden answer"> A group of <strong>covalently</strong> bonded atoms</p>
				</div>
			</div>
			<div class="ui six wide column">
				<div class="ui tab basic segment" data-tab="3">
					<h3 class="ui header">How your peers are doing on this objective</h3>
					<div class="ui green progress" data-percent="46">
					  <div class="bar" style="transition-duration: 300ms; -webkit-transition-duration: 300ms; width: 17%;"></div>
					  <div class="label">17% Full</div>
					</div>
					<div class="ui olive progress" data-percent="46">
					  <div class="bar" style="transition-duration: 300ms; -webkit-transition-duration: 300ms; width: 24%;"></div>
					  <div class="label">24% not fluent (inc you!)</div>
					</div>
					<div class="ui orange progress" data-percent="46">
					  <div class="bar" style="transition-duration: 300ms; -webkit-transition-duration: 300ms; width: 40%;"></div>
					  <div class="label">40% partial</div>
					</div>
					<div class="ui progress" data-percent="46">
					  <div class="bar" style="transition-duration: 300ms; -webkit-transition-duration: 300ms; width: 17%;"></div>
					  <div class="label">17% none</div>
					</div>
					<div class="ui circular blue fluid button done-button">Done</div>
				</div>
				<div class="ui active tab basic segment" style="margin-top: -5px" data-tab="1">
					<h3 class="ui header">Stuck on this objective?</h3>
					<div class="ui basic circular fluid button hint-button">Hint</div>
					<div class="hidden hint"><p>A ----- of --------- ------ compounds</p>
						<div class="ui blue message">As you used a hint, you can only achieve partial knowledge in this test</div>
					</div>
				</div>
				<div class="ui tab answer-tab basic segment" style="margin-top: -5px" data-tab="2">
					<div class="ui inverted dimmer">
					    <div class="ui text loader">Loading</div>
					  </div>
					<h2 class="ui header">How did you do?</h2>
					<div class="ui divider"></div>
					<h3 class="ui header">I made sure to mention: </h3>
					<div class="ui toggle checkbox">
						<label>the keyword <strong>"Covalent"</strong></label>
					  <input type="checkbox" name="public">
					  
					</div>
					<div class="ui divider"></div>
					
				</div>
				<div class="ui hidden right floated red submit button" style="display:none">Submit</div>
			</div>
		</div>
	</div>
	<div class="ui secondary segment">
		<p>Last attempted 17 days ago</p>
	</div>
</div>
<div class="ui hidden flashcard segments">
	<div class="ui inverted dimmer">
	    <div class="content">
	      <div class="center">
	        <h2 class="ui header">Objective tested!</h2>
	        <div class="ui primary button">Test another?</div>
	        <div class="ui button">Go back to topic page</div>
	      </div>
	    </div>
	  </div>
	<div class="ui padded segment">
		
		<div class="ui divided stackable grid">
			<div class="ui ten wide column">
				<div class="ui basic segment">
					<h2 class="ui header">Explain how the shape of a molecule is determined</h2>
					<div class="ui fluid button answer-button">Answer</div>
					
						<ul class="hidden answer">
							<li>Electrons are negatively charged</li>
							<li>Electron pairs repel one another equally</li>
							<li>Lone pairs repel more than bonded pairs</li>
						</ul>
					
				</div>
			</div>
			<div class="ui six wide column">
				<div class="ui tab basic segment" data-tab="3">
					<h3 class="ui header">How your peers are doing on this objective</h3>
					<div class="ui green progress" data-percent="46">
					  <div class="bar" style="transition-duration: 300ms; -webkit-transition-duration: 300ms; width: 17%;"></div>
					  <div class="label">17% Full</div>
					</div>
					<div class="ui olive progress" data-percent="46">
					  <div class="bar" style="transition-duration: 300ms; -webkit-transition-duration: 300ms; width: 24%;"></div>
					  <div class="label">24% not fluent (inc you!)</div>
					</div>
					<div class="ui orange progress" data-percent="46">
					  <div class="bar" style="transition-duration: 300ms; -webkit-transition-duration: 300ms; width: 40%;"></div>
					  <div class="label">40% partial</div>
					</div>
					<div class="ui progress" data-percent="46">
					  <div class="bar" style="transition-duration: 300ms; -webkit-transition-duration: 300ms; width: 17%;"></div>
					  <div class="label">17% none</div>
					</div>
					<div class="ui fluid button done-button">Done</div>
				</div>
				<div class="ui active tab basic segment" style="margin-top: -5px" data-tab="1">
					<h3 class="ui header">Stuck on this objective?</h3>
					<div class="ui fluid button hint-button">Hint</div>
					<p class="hidden hint">A ----- of --------- ------ compounds</p>
				</div>
				<div class="ui tab basic segment" style="margin-top: -5px" data-tab="2">
					<h2 class="ui header">How did you do?</h2>
					<div class="ui divider"></div>
					<h3 class="ui header">I made sure to mention: </h3>
					<div class="ui toggle checkbox">
						<label>Electrons are negatively charged</strong></label>
					  <input type="checkbox" name="public">
					  
					</div>
					<div class="ui toggle checkbox">
						<label>Electron pairs repel one another equally</strong></label>
					  <input type="checkbox" name="public">
					  
					</div>
					<div class="ui toggle checkbox">
						<label>Lone pairs repel more than bonded pairs</strong></label>
					  <input type="checkbox" name="public">
					  
					</div>
					<div class="ui divider"></div>
					
				</div>
				<div class="ui hidden right floated red submit button" style="display:none">Submit</div>
			</div>
		</div>
	</div>
</div>
<style>
.hidden {
	display:none;
}
</style>