<% @improvements.each do |improvement| %>
  <div class="block-flat">
    <div class="header"><h2><%= improvement.topic %></h2></div>
    <div class="content"><p><%= improvement.area_to_improve %></p></div>
    <div class="footer">foot</div>
  </div>
<% end %>