<div class="ui inverted dimmer">
    <div class="content">
      <div class="center">
        <h2 class="ui header">Objective tested!</h2>
        <div class="ui primary button">Test another?</div>
        <div class="ui button">Go back to topic page</div>
      </div>
    </div>
  </div>