<div class="ui active tab basic segment" style="margin-top: -5px" data-tab="1">
	<h3 class="ui header">Mark this objective:</h3>
	<div class="ui basic circular fluid button hint-button">Keypoints:</div>
	<div class="hidden hint">
		<%= render partial: "shared/flashcard/marking", :locals => {:flashcard => flashcard} %>
	</div>

</div>