<div class="ui tab answer-tab basic segment" style="margin-top: -5px" data-tab="2">
	<div class="ui inverted dimmer">
	    <div class="ui text loader">Loading</div>
	  </div>
	<h2 class="ui header">How did you do?</h2>
	<div class="ui divider"></div>
	<h3 class="ui header">I made sure to mention: </h3>
	<div class="ui toggle checkbox">
		<label>the keyword <strong>"Covalent"</strong></label>
	  <input type="checkbox" name="public">
	  
	</div>
	<div class="ui divider"></div>
	
</div>
<div class="ui hidden right floated red submit button" style="display:none">Submit</div>