<div class="ui two column centered grid">
    <div class="column">
    	<div class="ui floated segment" style="width:100%">
    		<h2 class="ui center aligned icon header">
			  <i class="box icon"></i>
			  <div class="content">
			    It's pretty empty arround here...
				<div class="sub header">Why not start by <%= link_to "creating a subject?", new_subject_path %></div>
			  </div>
			</h2>
    	</div>
    </div>
  </div>