<div class="ui toptitle segment" style="margin-bottom:0; z-index:1">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui top header">
        Chemistry
        
        <div class="sub header">
          
          
          
          Taught by: <a href="#" class="open-profile">Mr Jennings</a> &amp; <a href="#">Mr Riches</a>
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      
      

      
      
      
      <div class="ui download primary button">
        Button
      </div>
    </div>     
      <div class="ui three item stackable menu">
        
          <a class="active tab item" data-tab="this-week">Taught this week</a>
          <a class="item tab" data-tab="organization">My folder</a>
          <a class="item tab" data-tab="analysis">Analysis</a>
      </div>
  </div>
</div>