<div class="ui toptitle segment" style="margin-bottom:0; z-index:1">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui top header">
        Chemistry
        
        <div class="sub header">
          
          
          
          Taught by: <a href="#" class="open-profile">Mr Jennings</a> &amp; <a href="#">Mr Riches</a>
        </div>
      </h1>

      <div class="ui hidden divider"></div>

      
      

      
      
      
    </div>     
      <div class="ui two inverted blue  item stackable menu">
          <a class="item active tab" data-tab="application">Application</a>
          <a class="item tab" data-tab="knowledge">Knowledge</a>
      </div>
  </div>
</div>