
<div class="ui form container">
	<h1>Automatically input testpaper from Exampro</h1>
	<div class="ui segment">
	<%= form_tag do %>
			<label>Paper: <%= TestPaper.find(params[:id]).date_name %></label>
			<label>Exampro URL:</label>
	        <%= text_field_tag :test_paper_url, params[:url] %>
	        <%= submit_tag "Upload", class: "ui button" %>
	<% end %>
	</div>
</div>