<div class="ui form container">
	<div class="ui segment">
	<%= form_tag do %>
			<label>URL:</label>
			<%=  select_tag "testpaper_id", options_from_collection_for_select(TestPaper.all, "id", "date_name") %>
	        <%= text_field_tag :test_paper_url, params[:url] %>
	        <%= submit_tag "Upload", class: "ui button" %>
	<% end %>
	</div>
</div>