
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */

.float.right {
	float: right;
}
.letter.icon {
	padding: 0 5px 0 5px;
	cursor: pointer;
	font-size: 1.5em;
	color:orange;
}
.inlineblock {
	display: inline-block !important;
}
body {
      background-color: rgb(236, 241, 242);
    }
    body > .ui.container {
      margin-top: 3em;
    }
    iframe {
      border: none;
      width: calc(100% + 2em);
      margin: 0em -1em;
      height: 300px;
    }
    iframe html {
      overflow: hidden;
    }
    iframe body {
      padding: 0em;
    }

    .ui.container > h1 {
      font-size: 3em;
      text-align: center;
      font-weight: normal;
    }
    .ui.container > h2.dividing.header {
      font-size: 2em;
      font-weight: normal;
      margin: 4em 0em 3em;
    }


    .ui.table {
      table-layout: fixed;
    }
    .introduction {
      margin-top:0;
      padding-top:0;
    }
    .toptitle {
      margin-top: 0 !important;
    }
    .main.menu {
      margin-bottom:0;
    }
    h1.ui.top.header {
      padding-top: 10px;
    }
    .main-content {
      padding:50px;
    }
.ui.large.pointing.inverted.borderless.middle.main.menu {
  border-radius: 0;
}