.arcticle-image {
	height: 60px;
	width:100%;
	background-size: cover;
}
.featured.arcticle-image {
	
	height:500px;

}
h3.arcticle-title {
	margin:0;
	font-size: 1.5em;
	line-height:1.2em;
}
.arcticle.edit-buttons {
	float: right;
	position: relative;
	top: -30px;
}

.profile_menu img {
	width:30px;
}