<div class="row">
  <% @reviews.each do |review| %>
    <div class="col-sm-4 col-md-4">
      <div class="block-flat">
        <div class="header">
          <div class="actions">
            <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a>
            <a class="refresh" href="#"><i class="fa fa-repeat"></i></a>
            <a class="close-down" href="#"><i class="fa fa-times"></i></a>
          </div>
          <h3>Default Block</h3>
        </div>
        <div class="content" style="display: block;">
          <p>Etiam mattis arcu non blandit blandit. Sed condimentum pellentesque venenatis. Donec in egestas massa, ac dignissim sapien. Nullam placerat lobortis sapien, in tempor justo imperdiet nec. Nulla ante est, faucibus id eleifend vitae, suscipit eu est.</p>
        </div>
      <div class="loading" style="display: none;"><i class="fa fa-refresh fa-spin"></i></div><div class="loading" style="display: none;"><i class="fa fa-refresh fa-spin"></i></div></div>
      
      <div class="block-flat dark-box">
        <div class="header">              
          <div class="actions">
            <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a>
            <a class="refresh" href="#"><i class="fa fa-repeat"></i></a>
            <a class="close-down" href="#"><i class="fa fa-times"></i></a>
          </div>
          <h3>Dark Box</h3>
        </div>
        <div class="content" style="display: block;">
          <p>Etiam mattis arcu non blandit blandit. Sed condimentum pellentesque venenatis. Donec in egestas massa, ac dignissim sapien. Nullam placerat lobortis sapien, in tempor justo imperdiet nec. Nulla ante est, faucibus id eleifend vitae, suscipit eu est.</p>
        </div>
      <div class="loading" style="display: none;"><i class="fa fa-refresh fa-spin"></i></div></div>
      
    </div>
  <% end %>
</div>