<div class="ui equal width container floating active tab segment" style="margin-top:0; z-index:0" data-tab="this-week">
  <div class="column">
    <div class="ui divided stackable four column grid">
      <div class="ui twelve wide column main-content">
        <!-- analysis content -->
        <div class="ui lesson basic segment">
          <h2 class="ui header">
            <div class="sub header">Monday 3rd October, period 1</div>
            Genetic diversity
          </h2>
          <div class="ui basic segment">
            <iframe src="https://docs.google.com/a/isaacnewtonsixthform.co.uk/presentation/d/1bZzs9lumxhwJXsa06p1tuSEC9xYfmww2OcHClRoUeiA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="100%" height="800px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="height:600px"></iframe>
          </div>
          <div class="ui basic segment">
          objectives covered:
            <span class="ui label">blah blah blah blah blah blah</span> <span class="ui label">blah blah blah blah blah blah</span> <span class="ui label">blah blah blah blah blah blah</span> <span class="ui label">blah blah blah blah blah blah</span>
          </div>
          <div class="ui basic segment">
          <h3 class="ui header">Homeworks</h3>
          <div class="ui cards">
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                <div class="header">
                  Foo
                </div>
                <div class="meta">
                  Due in in 3 days
                </div>
                <div class="description">
                  Bar
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui  green disabled green button">Handed in</div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
                <div class="header">
                  Hello
                </div>
                <div class="meta">
                  Due in tomorow <i class="red warning icon"></i>
                </div>
                <div class="description">
                  World
                  <div class="ui divider"></div>
                  <div><strong>Resources:</strong>
                    <ul class="ui basic list">
                      <li><a href="#">you'll need this!</a></li>
                      <li><a href="#">and this!</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  
                  <div class="ui basic green button">Hand in</div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="ui divider"></div>
        </div>
        <div class="ui lesson basic segment">
          <h2 class="ui header">
            <div class="sub header">Lesson 1</div>
            Genetic diversity
          </h2>
          <div class="ui basic segment">
            <iframe src="https://docs.google.com/a/isaacnewtonsixthform.co.uk/presentation/d/1bZzs9lumxhwJXsa06p1tuSEC9xYfmww2OcHClRoUeiA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="100%" height="800px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="height:600px"></iframe>
          </div>
          <div class="ui basic segment">
          objectives covered:
            <span class="ui label">blah blah blah blah blah blah</span> <span class="ui label">blah blah blah blah blah blah</span> <span class="ui label">blah blah blah blah blah blah</span> <span class="ui label">blah blah blah blah blah blah</span>
          </div>
          <div class="ui segment">
          <h3 class="ui header">Homeworks</h3>
          <div class="ui cards">
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
                <div class="header">
                  Foo
                </div>
                <div class="meta">
                  Due in in 3 days
                </div>
                <div class="description">
                  Bar
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui  green disabled green button">Handed in</div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
                <div class="header">
                  Hello
                </div>
                <div class="meta">
                  Due in tomorow <i class="red warning icon"></i>
                </div>
                <div class="description">
                  World
                  <div class="ui divider"></div>
                  <div><strong>Resources:</strong>
                    <ul class="ui basic list">
                      <li><a href="#">you'll need this!</a></li>
                      <li><a href="#">and this!</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  
                  <div class="ui basic green button">Hand in</div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="ui comments">
            <h3 class="ui dividing header">Comments</h3>
            <div class="comment">
              <a class="avatar">
                <img src="/images/avatar/small/matt.jpg">
              </a>
              <div class="content">
                <a class="author">Matt</a>
                <div class="metadata">
                  <span class="date">Today at 5:42PM</span>
                </div>
                <div class="text">
                  How artistic!
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                </div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="/images/avatar/small/elliot.jpg">
              </a>
              <div class="content">
                <a class="author">Elliot Fu</a>
                <div class="metadata">
                  <span class="date">Yesterday at 12:30AM</span>
                </div>
                <div class="text">
                  <p>This has been very useful for my research. Thanks as well!</p>
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                </div>
              </div>
              <div class="comments">
                <div class="comment">
                  <a class="avatar">
                    <img src="/images/avatar/small/jenny.jpg">
                  </a>
                  <div class="content">
                    <a class="author">Jenny Hess</a>
                    <div class="metadata">
                      <span class="date">Just now</span>
                    </div>
                    <div class="text">
                      Elliot you are always so right :)
                    </div>
                    <div class="actions">
                      <a class="reply">Reply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="/images/avatar/small/joe.jpg">
              </a>
              <div class="content">
                <a class="author">Joe Henderson</a>
                <div class="metadata">
                  <span class="date">5 days ago</span>
                </div>
                <div class="text">
                  Dude, this is awesome. Thanks so much
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                </div>
              </div>
            </div>
            <form class="ui reply form">
              <div class="field">
                <textarea></textarea>
              </div>
              <div class="ui blue labeled submit icon button">
                <i class="icon edit"></i> Add Reply
              </div>
            </form>
          </div>
          <div class="ui divider"></div>
        </div>







      </div>
      <div class="four wide column ui horizontal segment">
      <!-- analysis menu -->
        <h3 class="ui  dividing header">Navigating</h3>
        <div class="ui fluid secondary pointing vertical menu">
          <a class="item">
            Recomended <span class="ui label">2</span>
          </a>
          <a class="item">
            F321 <span class="ui label">2</span>
          </a>
          <a class="item">
            F322 <span class="ui label">2</span>
          </a>
        </div>
      </div>
    </div>

</div>
</div>