<div class="ui tiered menu">
    <div class="menu">
    <a class=" item" id="sidebar-open">
        <i class="content icon"></i>
      </a>
      <div class="right menu">
        <% if user_signed_in? %>
        <div class="ui dropdown item">
          <%= current_user.username %><i class="icon dropdown"></i>
          <div class="menu">
            <a class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            
            <%= link_to('<i class="sign out icon"></i> Sign out</a>'.html_safe, destroy_user_session_path, :method => :delete, class: "item") %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>