


<div id="flash_messages">
  <% flash.each do |name, msg| %>
  	<% if name == "notice" then name = "warning" end %>
    <%= content_tag(:div, msg, :class => "ui message #{name}") %>
  <% end %>
</div>