<div class="ui left vertical inverted labeled icon sidebar menu">
    <a class="item" href="<%= root_path %>">
      <i class="home icon"></i>
      Home(subjects)
    </a>
    <a class="item" href="<%= topics_path %>">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item" href="<%= questions_path %>">
      <i class="smile icon"></i>
      Questions
    </a>
    <a class="item" href="<%= improvements_path %>">
      <i class="treatment icon" ></i>
      Improvement sheets
    </a>

  </div>